<div class="container mt-4">
  <h4 class="alert-light text-center">KLM UI Traffic statistics for last 1000 Requests</h4>
  <a (click)="trigger()" class="refresh-link">refresh</a>
  <table class="table">
    <thead>
      <tr>
        <th>HTTP Status Code</th>
        <th>Number of Requests</th>
        <th>Min Resp. Time(ms)</th>
        <th>Max Resp. Time(ms)</th>
        <th>Avg Resp. Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of data">
        <td>{{x?.code}}</td>
        <th>{{x?.count}}</th>
        <td>{{x?.minTime}}</td>
        <td>{{x?.maxTime}}</td>
        <td>{{ (x?.totalTime / x?.count) }}</td>
      </tr>
    </tbody>
  </table>
</div>
